
<div class="page-header">
<h1>Edit <%= @pet.name %></h1>
</div>


<%= render "error" %>

<%= form_for @pet do |f| %>
  <p><%= f.label :name %>
  <%= f.text_field :name %></p>
  <p><%= f.label :species %>
  <%= f.collection_select :species_id, Species.all, :id, :name %></p>
  <p><%= f.label "Photo" %></p>
  <%= f.file_field :pet_photo %></p>
  <p><%= f.label :bio %>
  <%= f.text_area :bio, cols: 30, rows: 8 %></p>
  <br/>
  <%= f.submit %>
  <% end %>
  <br/><br/>
  <%= button_to @pet, data: {confirm: 'Are you sure you want to remove this pet?'}, method: :delete, class: 'btn-danger btn-small' do %>
  Remove Pet
  <% end %>
