

<br/>
<h4>All about <%= @pet.name %></h4>
<p><img src="<%= @pet.pet_photo %>" style="max-height: 900px; max-width: 500px" /></p>
<p>Name: <%= @pet.name %></p>
<p>A Very Cuddly: <%= @pet.species.name %></p>
<p>Owner: <%= @pet.owner.user_name %></p>
<p>About Me: <%= @pet.bio %></p>
<br/>
<%= button_to "Edit Pet", edit_user_pet_path(id: @pet.id), method: :get %>
