
<div class="page-header">
  <h1>Your Upcoming Appointments</h1>
</div>

<% if flash[:success] %>
<div class="alert alert-success">
  <%= flash[:success] %>
  </div>
<% end %>

<% if @your_appointments.length == 0 %>
<p>No upcoming cuddles!</p>
<p>Make a cuddle appointment today!</p>
<% end %>
<% @your_appointments.each do |appointment| %>
<%= link_to appointment do %>
<p><img src='<%= appointment.cuddle_buddy.pet_photo %>' alt='missing' style="max-height: 500px; max-width: 300px"/></p>
<figcaption><p style="color:#3D9970"><%=appointment.cuddle_buddy.name%>
:: <%= appointment.checkin.strftime("%A %v at %I:%M%p") %></p>
  <% end %>
</figcaption>

<% end %>
