
<div class="page-header">
  <h1>Create Appointment</h1>
</div>

<%= render "error" %>

<p style="color:#B4886B;">When would you like to meet your cuddlebuddy?<br/>
<p>Please limit cuddles to 2 hours or less and not too close to bedtime.<br/>
Start times must be between 7am to 6pm</p>
</br>
<%= form_for @appointment do |f| %>
  <%= f.hidden_field :sitter_id, :value => @user.id %>
  <%= f.hidden_field :cuddle_buddy_id, :value => @pet.id %>
  <p><%= f.label "start" %>
  <%= f.datetime_select :checkin, {discard_year: true} %></p>

  <p><%= f.label "end" %>
  <%= f.datetime_select :checkout, {discard_year: true} %></p>
<br/>
  <%= f.submit "Make Appointment" %>
<% end %>
