
<div class="page-header">
  <h1>Your appointment</h1>
</div>
<% if flash[:success] %>
<div class="alert alert-success">
  <%= flash[:success] %>
  </div>
  <% end %>

  <p><img src='<%= @appointment.cuddle_buddy.pet_photo %>' alt='missing' style="max-height: 500px; max-width: 300px" /></p>

  <br/>
  <p style= "font-weight:bold;"><%= @appointment.cuddle_buddy.name %></p>
  <br/>

  <p>Starting on:
      <p><%= @appointment.checkin.strftime('%A %v at %I:%M%p') %></p>
    <p>Ending on:
    <p><%= @appointment.checkout.strftime('%A %v at %I:%M%p') %></p>
    <br/>
    <br/>
    <%= button_to edit_appointment_path(@appointment), method: :get do %>Edit Appointment<% end %>

    <br/>
    <br/>

    <%= button_to @appointment, data: {confirm: 'Are you sure you want to cancel this appointment?'}, method: :delete, class: 'btn btn-danger btn-sm' do %>
    Cancel Appointment
    <% end %>
