<!DOCTYPE html>
<%=  %>
<html>
  <head>
    <title>Fetch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class = "container" >
    <div class="jumbotron">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- <div class="navbar-header">
            <a class="navbar-brand" href="#">CuddleBuddies</a>
          </div> -->
          <ul class="nav navbar-nav">
            <li><a href="/pets">All CuddleBuddies</a></li>
            <li><a href="">Your Pets</a></li>
            <li><a href="/users/<%=session[:user_id]%>/pets/new">Add A Pet</a></li>
            <li><a href="#">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <span class="glyphicon glyphicon-log-in"></span>

            <li><% if logged_in? %>
            <%= link_to "Logout", sessions_path, method: :destroy %>
            <% else %>
            <%= link_to "Login", login_path %>
            <% end %></li>
          </ul>
        </div>
    </nav>
    <%= yield %>
    </div>
    </div>
  </body>


</html>
